  <form data-ng-submit="update({morderor: morderor})">
    <label for="morderorName{{morderor._id}}">Name:</label>
    <input type="text" id="morderorName{{morderor._id}}" data-ng-model="morderor.name" placeholder="{{morderor.name}}">

    <label for="morderorVerb{{morderor._id}}">Verb:</label>
    <input type="text" id="morderorVerb{{morderor._id}}" data-ng-model="morderor.verb" placeholder="{{morderor.verb}}">

    <button class="form-button" type="submit">Submit Changes</button>
    <ng-transclude></ng-transclude>
  </form>

