<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>MorderMens Morder Mens</title>
  <link rel="stylesheet" type="text/css" href="styles.min.css"/>
</head>

<body data-ng-app="morderMens">
  <main data-ng-controller="IntroController">
    <header-directive></header-directive>

    <section class="container section-box" id="vs-container">

      <section class='vs-box' id="vs-first">Here's one!</section>
      <section class='vs-box' id="vs-second">Here's two!</section>

    </section>

    <form class="section-box" name="newMorderorForm" data-ng-submit="create(newMorderor)">
      <div class="form-field">
        <label for="newMorderorName">Name:</label>
        <input type="text" id="newMorderorName" data-ng-model="newMorderor.name">
      </div>

      <div class="form-field">
        <label for="newMorderorVerb">Verb:</label>
        <input type="text" id="newMorderorVerb" data-ng-model="newMorderor.verb">
      </div>

      <button class="form-button" type="submit">Create New Morderor</button>
    </form>
    <section class="section-box">
      Choose your morderman:
      <button data-ng-click="getAll()">Get Everyone!</button>
    </section>
      <div class="container">
        <morderor-directive data-ng-repeat="morderor in morderors" data-morderor="morderor">

          <edit-morderor-directive
            name="editMorderor{{morderor._id}}"
            data-ng-submit="update(morderor)"
            data-ng-if="morderor.editing"
            data-bear="bear">
          </edit-morderor-directive>

          <button class="form-button">Pick Me!</button>
          <button class="form-button" data-ng-if="!morderor.editing" data-ng-click="morderor.editing = true">Change me!</button>
          <button class="delete-button" data-ng-click="remove(morderor)">Kill me!</button>

        </morderor-directive>

      </div>
  </main>


  <script src="bundle.js"></script>
</body>

</html>
